{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'categoria/js/list.js' %}"></script>
{% endblock %}
{% block columns %}
    <tr>
        <th scope="col" style="width:10%">Nro</th>
        <th scope="col" style="width:30%">Nombre Cateogira</th>
        <th scope="col" style="width:30%">Estado</th>
        <th scope="col" style="width:30%">Opciones</th>
    </tr>
{% endblock %}
