{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'product/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 25%;">Categoria</th>
        <th scope="col" style="width: 15%;">Precio</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
