{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->


    <!-- SEARCH FORM -->


    <!-- Right navbar links -->

    <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-user-cog"></i> {{ request.user.username }}
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link" >
                <i class="fas fa-power-off"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->